*{
    margin: 0;
    color: white;
}

body{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/838a77eb-572a-4eb5-8e3a-364069b24d29/ccfa4a8f-b15f-438b-b5c7-cb94282b6a47/BR-pt-20200907-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

body{
    background-color: rgba(0, 0, 0, 0.7);
}

.logo{
    margin-left: 20px;
    margin-top: 50px;
}

.containerLogin{
    background-color: rgba(0, 0, 0, 0.9);;
    width: 40%;
    height: 600px;
}

h1{
    text-align: left;
    padding-left: 150px;
    padding-top: 50px;
}

.input{
    font-size: 15px;
    margin-top: 10px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    width: 450px;
    border-radius: 5px;
}

button{
    font-size: 15px;
    margin-top: 25px;
    margin-top: 10px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    width: 470px;
    border-radius: 5px;
    background-color: red;
}

.abaixoLogin{
    width: 470px;
}
.abaixoLogin>input{
    float: left;
}

.abaixoLogin>label{
    float: left;
}

.abaixoLogin>a{
    float: right;
}

