*{
    margin: 0%;
    
}

.cabecalho{
    background-color: #3b5998;
    color: white;
    height: 130px;
}

.logo{
    float: left;
    padding-top: 2%;
    padding-left: 15%;
}

.login{
    background-color: #3b5998;
    float: right;
    padding-top: 2%;
    padding-right: 15%;
}

.formulario{
    display: inline-block;
}

.login>a{
    color: white;
    float: right;
    padding-right: 110px;
    padding-top: 10px;
}

.buttonIndex{
    background-color: #3b5998;
    color: white;

}

.corpo{
    background-image: linear-gradient(white, Gainsboro);   
    display: inline-block;
    height: 800px;
}

.esquerdo{
    width: 35%;
    float: left;
    padding-left: 10%;
    padding-top: 50px;
    color: #3b5998;
}

h2{
    font-size: 35px;
}

h3{
    font-weight: 100;
}

.direito{
    width: 30%;
    float: right;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    text-align: justify;
}

.inputCadastro{
    font-size: 25px;
    width: 250px;
    border-radius: 5px;
}

.inputLargo{
    width: 510px;
}

.element{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.buttonCadastro{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-image:linear-gradient(rgb(99, 158, 12), rgb(56, 88, 7)) ;
    border-radius: 15px;
    
}

.terms{
    font-size: 12px;
}


/* Usei o tooltip da net ;-; */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    position: absolute;

    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  

  }
  
  .tooltip .tooltiptext::after {
    position: absolute;
    top: 100%;
    left: 50%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

